#header ::ng-deep {
  display: flex;
  box-sizing: border-box;

  .title-content {
    width: 95%;
    display: flex;
    .title-a-tag {
      text-decoration: none;
  
      .app-name {
        font-size: 30px;
        color: #555555;
        line-height: 1.2;
      }
    }
  }

  .logout-content {
    width: 5%;
    display: flex;
    justify-content: center;

    .mat-icon {
      cursor: pointer;
      color: #555555;
    }
  }
}
