#header ::ng-deep {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .title-a-tag {
    text-decoration: none;

    .app-name {
      font-size: 30px;
      color: #555555;
      line-height: 1.2;
    }
  }

  .mat-icon {
    cursor: pointer;
    color: #555555;
  }
}