#list-detail ::ng-deep {
  padding: 20px;
  display: flex;
  .todo-input {
    padding: 20px;
    width: 30%;
    .label {
      font-size: 18px;
      font-weight: 500;
    }

    .complete {
      text-decoration: line-through;
    }

    .input-task {
      margin-right: 10px;
    }

    button {
      border-radius: 27px;
      background: #333333;
      color: white;
    }
  }

  .task-list {
    padding: 20px;
    width: 70%;
    border-left: groove;
    .task-item {
      margin-top: 10px;
      justify-content: space-between;
      display: flex;
    }
  }
}
