#list-detail ::ng-deep {
  padding: 20px;
  display: flex;

  .todo-input {
    padding: 20px;
    width: 30%;

    .label {
      font-size: 18px;
      font-weight: 500;
      font-weight: bold;
    }

    .complete {
      text-decoration: line-through;
    }

    .input-task {
      width: 35vh;
      margin-right: 10px;
    }

    button {
      border-radius: 27px;
    }

    // .mat-fab {
    //   background: #333333;
    //   color: white;
    // }
  }

  .task-list {
    padding: 20px;
    width: 70%;
    border-left: groove;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    // display: inline-block;
    display: flex;
  flex-wrap: wrap;
    mat-list-item {
      // .task-item {
        width: 45%;
        margin: 0 21px;;
      // }
    }
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #dadada;
    }

    &::-webkit-scrollbar-thumb {
      background: #c8c8c8;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #848484;
    }

    .task-item {
      margin-top: 10px;
      justify-content: space-between;
      display: flex;

      .mat-checkbox-inner-container {
        margin: unset;
        top: 3px;
        margin-right: 15px;
      }

      mat-checkbox {
        .task-label {
          font-weight: bold;
          word-wrap: break-word;
          width: 100px;
        }

        .time-label {
          font-style: italic;
          font-size: 13px;
        }
      }
      button {
        color: unset;
        background-color: #d2cccc59;
        margin-left: 5px;
      }

      .mat-checkbox-checked {
        .task-label {
          text-decoration-line: line-through;
          font-style: italic;
        }
      }
    }
  }
}
