<div id="list-detail">
  <div class="todo-input">
    <div>
      <p class="label">
        Edit List
      </p>
      <mat-form-field class="input-task">
        <input matInput placeholder="Input List Name" [(ngModel)]="listName">
      </mat-form-field>
      <button mat-raised-button mat-primary (click)="editListName()" [disabled]="listName === periousListName">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>

    <div>
      <p class="label">
        Tasks
      </p>

      <mat-form-field class="input-task">
        <input matInput placeholder="Input New Task" [(ngModel)]="newTask">
      </mat-form-field>

      <button mat-raised-button (click)="addNewTask()" [disabled]="!newTask">
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
  </div>

  <div class="task-list">
    <mat-list-item *ngFor="let task of tasks" [class.complete]="task?.completed">
      <mat-card class="task-item">
        <div>
          <mat-checkbox [checked]="task.completed" (change)="onCheckbox(task.id)">
            <div class="task-label">
              {{ task?.name }}
            </div>
            <label class="time-label">
              CreateAt: {{ task?.createdAt | date: 'short' }}
            </label>
            <br>
            <label class="time-label">
              CompletedAt: {{ task?.completedAt ? (task?.completedAt | date: 'short') : 'Now' }}
            </label>
          </mat-checkbox>
        </div>
        <div>
          <button class="edit-button" (click)="editTask(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-button" (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </mat-list-item>
  </div>
</div>